<link href="/css/login.css" rel="stylesheet" />
<div class="login-container">
  <h1>login</h1>
  <form action="/login" method="post">
    <label for="username">username</label><br />
    <input type="text" id="username" name="username" /><br />
    <label for="password">password:</label><br />
    <input type="password" id="password" name="password" /><br />
    <input type="submit" value="login" />
    <% if (error) { %>
      <p style="color: red;"><%= error %></p>
    <% } %>
      </form>
</body>
</html>
